<!DOCTYPE html>
<html>
    <head><title>MES Project</title>
        

        <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Disease diagnosis using symptoms in a Machine Learning flask web API">
    <!--meta name="author" content="Nicolas Bize"-->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    <title>MagicSuggest - Home</title>
    <link href="{{ url_for('static', filename='docs/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='magicSuggest/css/magicsuggest.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='magicSuggest/css/custom.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dataTables/css/jquery.dataTables.min.css') }}" rel="stylesheet">
    <!--link href="{{ url_for('static', filename='dataTables/css/dataTables.semanticui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dataTables/css/semantic.min.css') }}" rel="stylesheet"-->
    
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='docs/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='magicSuggest/js/magicsuggest.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='magicSuggest/js/magicsuggest-min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='dataTables/js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/myjs.js')}}"></script>
    <!--script type="text/javascript" src="{{ url_for('static', filename='dataTables/js/dataTables.semanticui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='dataTables/js/semantic.min.js') }}"></script-->
    
  </head>

    <body class="cover" style>
      <div class="site-wrapper">
      	
        <div class="site-wrapper-inner">
          <div class="cover-container">
            <div class="inner cover">
            	<form>
                <h1 class="cover-heading shadow centered">Diagnosis System</h1>
                <p class="lead shadow centered">Select one or more symptoms here..</p>
                <p class="lead">
              <!-- <div id="ms1" class="form-control" value='["Chicago","Houston"]'></div> -->
                  </p><div class="ms-ctn form-control " style="" id="ms1"><span class="ms-helper" style="display: none;"></span><div class="ms-sel-ctn"><input type="text" class="" placeholder="Type or click here" style="width: 616px;"><div style="display: none;"></div></div><div class="ms-trigger"><div class="ms-trigger-ico"></div></div></div>
                  <button id="sub" type="submit" class="button search" style="min-width: 150px;font-size: 18px; margin-top: 5px; padding: 6px 50px 6px 6px;">Search
                  </button>
              </form>
              </div>
              <div class="mastfoot" id="hide">
                <div class="inner">
                  <p id="hidden">{{ cols|safe }}</p>
              	</div>
              </div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="unit w-2-3" style="min-width: 560px; padding: 10px 0 20px">
        <div id="write" class="hero-callout"></div>
      </div>

      <script type="text/javascript">
          $(function() {
            var data = $('#hidden').html();
            var x = document.getElementById("hide");
          if (x.style.display === "none") {
            x.style.display = "block";
          } else {
            x.style.display = "none";
          }
          data = JSON.parse(data);
          
            const ele = $('#ms1').magicSuggest({
              data: data,
              maxDropHeight: 200,
              allowFreeEntries: false,
              maxSelection: null,
	      expandOnFocus: true,
	      toggleOnClick: true,

            });
            
            /*jQuery(ele).on('selectionchange', function(e,m) {
              const data = this.getSelection();

              if(data.length == 0) {
                console.log(1);
              }
            })*/

            $('.cover-container').attr('style','border-radius: 5px; min-width: 350px; width: 850px; max-width: 900px; height: 500px; box-shadow: 0 0 20px #1f5a60; background: WHITE; background-size: 850px 500px; background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url({{ url_for("static", filename="image/hlthcare.jpg") }})');
            $('.inner').attr('style', 'height: 300px; padding-top: 80px');
            $('body').attr('style', 'background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)), url({{ url_for("static", filename="image/med_wlppr.jpg") }}); background-repeat: no-repeat; background-attachment: fixed;');
            //$('.ms-sel-ctn input').prop('required',true);

            //var val = $('#write').text(data);
            //val.append('<p>'+data+'</p>');
          });

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5470193-5']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
    </body>
</html>
